<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Todo app</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'styles/main.css'%}"
    />
  </head>

  <body style="font-family:cursive;">
    <section class="vh-100 gradient-custom">

      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card">
              <div class="card-body p-3">
                <div class="d-flex justify-content-center align-items-center mb-4">
                <h1 style="text-align: center; padding-bottom:15px; flex-grow:1;">
                  Welcome {{request.user}}<br>
                  You have {{count}} incomplete task{{ count|pluralize:'s' }}
                </h1>
                <a href={%url 'logout'%} style="align-self:self-start;"><button class="btn btn-danger" >logout</button></a>
              </div>
                <form
                  class="d-flex justify-content-center align-items-center mb-4"
                  method="GET"
                >
                  <div class="form-outline flex-fill me-5">
                    <input
                      name="search-area"
                      type="text"
                      id="form2"
                      class="form-control"
                    />
                  </div>
                  <button type="submit" class="btn btn-info">Search</button>
                </form>

                <!-- Tabs navs -->
                <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link {%if type == 'all'%}active{%endif%}"
                      id="ex1-tab-1"
                      data-mdb-toggle="tab"
                      href="{% url 'all'%}"
                      role="tab"
                      aria-controls="ex1-tabs-1"
                      aria-selected="true"
                      >All</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link {%if type == 'active'%}active{%endif%}"
                      id="ex1-tab-2"
                      data-mdb-toggle="tab"
                      href="{% url 'active'%}"
                      role="tab"
                      aria-controls="ex1-tabs-2"
                      aria-selected="false"
                      >Active</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link {%if type == 'completed'%}active{%endif%}"
                      id="ex1-tab-3"
                      data-mdb-toggle="tab"
                      href="{%url 'completed'%}"
                      role="tab"
                      aria-controls="ex1-tabs-3"
                      aria-selected="false"
                      >Completed</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      style="font-size: 25px; line-height: 1"
                      class="nav-link"
                      id="ex1-tab-3"
                      data-mdb-toggle="tab"
                      href="{%url 'task-create'%}"
                      role="tab"
                      aria-controls="ex1-tabs-3"
                      aria-selected="false"
                      >+</a
                    >
                  </li>
                </ul>
                <!-- Tabs navs -->

                <!-- Tabs content -->
                <div class="tab-content" id="ex1-content">
                  <div
                    class="tab-pane fade show active"
                    id="ex1-tabs-1"
                    role="tabpanel"
                    aria-labelledby="ex1-tab-1"
                  >
                    <ul class="list-group mb-0">
                      {%for task in tasks%}
                      <li
                        class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                        style="background-color: #f4f6f7"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          aria-label="..."
                          {%if task.completed%}
                          checked
                          {%endif%}
                        />
                        {%if task.completed%}
                        <s>{{task.title}}</s>
                        {%else%} {{task.title}} {%endif%}
                        <div style="flex-grow: 1; text-align: right">
                          <button type="button" class="btn btn-success">
                            <a
                              href="{%url 'task-detail' task.id%}"
                              style="color: #fff; text-decoration: none"
                              >view</a
                            >
                          </button>
                          <button type="button" class="btn btn-primary">
                            <a
                              href="{%url 'task-update' task.id%}"
                              style="color: #fff; text-decoration: none"
                              >edit</a
                            >
                          </button>
                          <button type="button" class="btn btn-danger">
                            <a
                              href="{%url 'task-delete' task.id%}"
                              style="color: #fff; text-decoration: none"
                              >delete</a
                            >
                          </button>
                        </div>
                      </li>

                      {%endfor%}
                    </ul>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="ex1-tabs-2"
                    role="tabpanel"
                    aria-labelledby="ex1-tab-2"
                  >
                    <ul class="list-group mb-0">
                      <li
                        class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                        style="background-color: #f4f6f7"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          aria-label="..."
                        />
                        Morbi leo risus
                      </li>
                      <li
                        class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                        style="background-color: #f4f6f7"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          aria-label="..."
                        />
                        Porta ac consectetur ac
                      </li>
                      <li
                        class="list-group-item d-flex align-items-center border-0 mb-0 rounded"
                        style="background-color: #f4f6f7"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          aria-label="..."
                        />
                        Vestibulum at eros
                      </li>
                    </ul>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="ex1-tabs-3"
                    role="tabpanel"
                    aria-labelledby="ex1-tab-3"
                  >
                    <ul class="list-group mb-0">
                      <li
                        class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                        style="background-color: #f4f6f7"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          aria-label="..."
                          checked
                        />
                        <s>Cras justo odio</s>
                      </li>
                      <li
                        class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                        style="background-color: #f4f6f7"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          aria-label="..."
                          checked
                        />
                        <s>Dapibus ac facilisis in</s>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Tabs content -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
